<h1>Twitter + OAuth</h1>
<p>Check out our <a href="http://justsaywen.com/oh-my-auth/">blog post</a> and our <a href="https://github.com/Dawenster/twitter_jd">GitHub repo</a></p>

<% if @session %>

  <form action="/tweet/new" method="post">
    <input type="text" name="text" placeholder="Your tweet here">
    <input type="submit" value="Tweet">
  </form>
  <br>
  <p id="response"></p>
  <img class="waiting" src="/img/original.gif">
  <p class="waiting">Processing request...</p>

<% else %>

  <a href="/login/twitter"><img id="twitter-signin" src="/img/sign-in-with-twitter-gray.png"></a>

<% end %>